html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body * {
    display: block;
    margin: 0;
    padding: 0;
}

.jeez-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}